<?xml version="1.0"?>
<config>
  <modules>
    <Fishpig_Wordpress_Addon_CS>
      <version>1.4.0.5</version>
      <fishpig>
      	<id>customer-synch</id>
      	<name>Customer Synchronisation</name>
      	<url>https://fishpig.co.uk/magento/wordpress-integration/customer-synchronisation/</url>
      </fishpig>
    </Fishpig_Wordpress_Addon_CS>
  </modules>
  <global>
    <blocks>
	    <wp_addon_cs>
		    <class>Fishpig_Wordpress_Addon_CS_Block</class>
	    </wp_addon_cs>
    </blocks>
    <helpers>
	    <wp_addon_cs>
		    <class>Fishpig_Wordpress_Addon_CS_Helper</class>
	    </wp_addon_cs>
    </helpers>
		<events>
      <customer_customer_authenticated>
      	<observers>
      		<wp_addon_cs>
      			<type>singleton</type>
      			<class>Fishpig_Wordpress_Addon_CS_Model_Observer</class>
      			<method>customerCustomerAuthenticatedObserver</method>
      		</wp_addon_cs>
      	</observers>
      </customer_customer_authenticated>
      <customer_load_after>
      	<observers>
      		<wp_addon_cs>
      			<class>Fishpig_Wordpress_Addon_CS_Model_Observer</class>
      			<method>customerLoadAfterObserver</method>
      		</wp_addon_cs>
      	</observers>
      </customer_load_after>
      <customer_save_after>
      	<observers>
      		<wp_addon_cs>
      			<type>singleton</type>
      			<class>Fishpig_Wordpress_Addon_CS_Model_Observer</class>
      			<method>customerSaveAfterObserver</method>
      		</wp_addon_cs>
      	</observers>
      </customer_save_after>
			<checkout_type_onepage_save_order_after>
				<observers>
					<wp_addon_cs>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_CS_Model_Observer</class>
						<method>onepageSaveOrderAfterObserver</method>
					</wp_addon_cs>
				</observers>
			</checkout_type_onepage_save_order_after>
    </events>
	</global>
	<frontend>
		<events>
			<wordpress_disqus_before_sso>
				<observers>
					<wp_addon_cs>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_CS_Model_Observer</class>
						<method>getDisqusSsoDataObserver</method>
					</wp_addon_cs>
				</observers>
			</wordpress_disqus_before_sso>
		</events>
	</frontend>
</config>